---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import BlogList from '~/components/blog/List.astro';
import { fetchPosts } from '~/utils/blog';

export const prerender = true;

const posts = await fetchPosts(); // already returns normalized Post[]
const metadata = {
  title: 'Blog'
}

const orderedPosts = posts.sort((a, b) => {
  // First compare dates (descending)
  const dateDiff = b.publishDate.getTime() - a.publishDate.getTime();
  if (dateDiff !== 0) return dateDiff;

  // If same date, compare title lexicographically (ascending)
  return b.title.localeCompare(a.title);
});

---

<Layout metadata={metadata}>
  <Hero
    title="Blog"
    subtitle="Blog posts, some related to projects, some standalone thoughts and ideas."
    align="left"
    size="sm"
    maxW="max-w-5xl"
    showDivider={true}
  />

  <section>
    <div class="mx-auto max-w-4xl px-6 sm:px-6 pt-4 pb-8 sm:pt-6 sm:pb-12">
      <BlogList posts={orderedPosts} />
    </div>
  </section>
</Layout>
