---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Content from '~/components/widgets/Content.astro';
import { headerData } from '~/navigation';
import { getPermalink } from '~/utils/permalinks';

const metadata = { title: 'About' };

const showcaseVideoHtml = `
  <video
    src="/videos/showcase.mp4"
    autoplay
    muted
    loop
    playsinline
    class="mx-auto w-full rounded-lg bg-gray-500 shadow-lg aspect-[4/3] object-cover"
  ></video>
`;
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>

  <Fragment slot="header">
    <Header {...headerData} isSticky showToggleTheme />
  </Fragment>

  <Content
    columns={2}
    items={[
      {
        callToAction: {
          text: 'Projects',
          href: getPermalink('projects'),
          icon: 'lucide:folder-kanban',
        },
      },
      {
        callToAction: {
          text: 'Blog',
          href: getPermalink('blog'),
          icon: 'lucide:newspaper',
        },
      },
    ]}
    image={showcaseVideoHtml}
  >
    <Fragment slot="content">
      <h5 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Hi!</h5>
      <p>I like building things and exploring the intersection of statistics, math, and computer science.</p>
      <br />
      <p>My recent interests are the combination of computational geometry and machine learning, computer vision and differential geometry.</p>
    </Fragment>
  </Content>
</Layout>
