---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Content from '~/components/widgets/Content.astro';
import { headerData } from '~/navigation'
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Personal Homepage Demo',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header {...headerData}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <Content
    id="about"
    columns={3}
    items={[
      {
        callToAction: {
          text: 'Projects',
          href: getPermalink('projects'),
        },
      },
      {
        callToAction: {
          text: 'Blog',
          href: getPermalink('blog'),
        },
      },
    ]}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
      </p>
      <p>My work</p>
    </Fragment>
  </Content>
</Layout>
